.header{
  background-image: url('/header_img.jpg'); /* Ensure the correct path */
  background-size: cover;
  margin: 30px auto;
  border-radius: 20px;
  padding: 20px 60px;
}
.header-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  gap: 20px;
  max-width: 50%;
  animation: fadeIn 3s;

}
.header-content h2{
  font-size: 70px;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Text shadow */
}
.header-content p{
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);

}
.header-content button{
  background: none;
  border: none;
  padding: 1vw 2.3vw;
  background-color: #fff;
  border-radius: 50px;
  color: #747474;
}

@media (max-width:1050px){
  .header-content {
    max-width: 100%;
  }
  .header-content h2{
    font-size: 32px;
  }
}

@media (max-width:768px){
.header{
  padding: 20px;
}
}